 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" srcset={{this.img}} sizes="(min-width: 10px)" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Precio: {{this.price}}</p>
        <p class="card-text">Descripcion: {{this.description}}</p>
        <p class="card-text">Codigo: {{this.code}}</p>
        <p class="card-text">Stock: {{this.stock}}</p>
        <a href="/" class="btn btn-primary">Actualizar</a>
        <a href="/" class="btn btn-primary">Eliminar</a>
      </div>
    </div>

<br>
<a href="/">Volver al Inicio</a>
<br>
</body>

    
</html> 